/**
 * Custom font import(s)
 *
 * - Science Gothic
 * - Source Code Pro
 */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/**
 ****************************
 * Science Gothic font styles

 * WEIGHT: 100 - 900
 * SLANT: -10 to 0
 * WIDTH: 50 to 200
 * CONTRAST: 0 to 85
 */

.font-science-gothic {
	font-family: "Science Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: inherit;
	font-style: normal;
	font-variation-settings:
		"slnt" 0,
		"wdth" 100,
		"CTRS" 0;
}

/**
 ****************************
 * Source Code Pro font styles
 *
 * MONOSPACE FONT
 */

.font-source-code-pro {
	font-family: "Source Code Pro", monospace;
	font-style: normal;
}

/**
 * Utility class for monospace font with text shadow
 */
.font-mono {
	font-family: "Source Code Pro", monospace;
	font-weight: 400;
	text-shadow: 0px 1px 2px rgba(121, 121, 121, 0.3);
}